name: snowflake-devops-demo

on:
  # Runs automatically when code under dbscripts/ is pushed to main (deploys to dev by default)
  push:
    branches:
      - main
    paths:
      - 'dbscripts/**'

  # Allows manual run and lets you choose dev / qa / prod
  workflow_dispatch:
    inputs:
      target_env:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - qa
          - prod

jobs:
  deploy-snowflake-changes-job:
    runs-on: ubuntu-latest

    # Link this job to a GitHub Environment (dev / qa / prod)
    # If manually triggered -> use selected env from dropdown
    # If triggered by push to main -> default to dev
    environment: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.target_env || 'dev' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Python 3.8.x
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.x

      - name: Run schemachange
        env:
          SF_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
          SF_USERNAME: ${{ secrets.SF_USERNAME }}
          SF_ROLE: ${{ secrets.SF_ROLE }}
          SF_WAREHOUSE: ${{ secrets.SF_WAREHOUSE }}
          SF_DATABASE: ${{ secrets.SF_DATABASE }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}
        run: |
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
          python --version
          echo "Step 1: Installing schemachange"
          pip install schemachange

          echo "Step 2: Running schemachange"
          schemachange -f $GITHUB_WORKSPACE/dbscripts \
            -a $SF_ACCOUNT \
            -u $SF_USERNAME \
            -r $SF_ROLE \
            -w $SF_WAREHOUSE \
            -d $SF_DATABASE \
            -c $SF_DATABASE.SCHEMACHANGE.CHANGE_HISTORY \
            --create-change-history-table
